p {
    margin-bottom: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
}

img {
    max-width:100%;
    max-height:100%;
}

.gif {
    width: 500px;
    height: 240px;
    padding-left: 10px;
}

.scorebox {
    height: 50px;
}


/* 
=============
  GAME PAD
============= 
*/

.gamePad {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px outset grey;
}

.newGame {
    padding: 10px;
    font-size: 20px;
    right:    -20;
    bottom:   -200;
}

#pad1 {
    background: blue;
}

#pad2 {
    background: red;
}

#pad3 {
    background: green;
    margin-left: 4px;
}

#pad4 {
    background: yellow;
}

/* #loser {
    float: left;;
}

#winner {
    float: left;
} */


/* 
==============
  HEALTH BAR
============== 
*/

.health-box {
    background-color: #ccc;
    height: 30px;
    width: 500px;
    border: solid 1px #aaa;
  }
  
  .health-bar {
    background-color: yellow;
    height: 100%;
    position: relative;
    bottom: 56px;
  }
  
  .health-bar-red {
    width: 100%;
    height: 100%;
    background-color: #cc0000;
    position: relative;
  }
  
  .health-bar-combine {
    height: 28px;
  }
  
  .health-bar-text {
    position: relative;
    bottom: 80px;
  }
  

/* 
============
  SPRITES
============ 
*/

.stage { 
    height: 240px;
    width: 640px;
    padding-top: 120px;
    padding-left: 40px;
    background-image:url('../images/ryuStage.jpg'); 
}
.ken { 
    width:50px; 
    height:100px;
    background-image:url('../images/ken.png'); 
}

.idle { 
    animation: idle steps(4) 0.45s infinite; 
}
@keyframes idle {
    from { background-position: -5px 0px; }
    to { background-position: -205px 0px; }
}
.punch { 
    animation: punch steps(3) 0.45s infinite; 
}
@keyframes punch {
    from { background-position: -5px -115px; }
    to { background-position: -145px -115px; }
}